---
layout: default
---

<div>

  <section>
    <h1>personal website</h1>
    <div style="display: inline">
    <!--<img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>
    <img src="{{site.baseurl}}/images/congaparrot.gif" style="border:0px;margin:0px;float:left;"/>-->
    </div>
    <br><br>Hello! I'm half computer science student, half artist. 
  </section>

  <section>
  	<h1> Projects overview </h1>
  		Find more projects <a href="{{site.baseurl}}/projects">here</a>!<br><br>
	  	<div class="grid t-hackcss-cards">
	  	{% assign items = site.projects | sort: 'date' | reverse %}
	  	{% for project in items limit:2 %}

	    <div class="cell -6of12 t-hackcss-cards-cell">
        <div class="card" style="margin-bottom: 10px;">
          <header class="card-header">{{ project.name }}</header>
          <div class="card-content">
            <div class="inner">

              {% if project.image %}
              <center><img src="{{ project.image }}" 
                  style="width:70%;"
                   alt="{{ project.name }}"
                   title="{{ project.name }}"
                   /></center>
              {% endif %}
              <br>
              <div class="t-hackcss-cards-text" style="font-size: 11px; line-height: 110%;">{{ project.description }}</div>
              <div style="font-size:10px; color: grey"> {{ project.date | date: '%B %Y' }} </div>
              <div class="t-hackcss-cards-link"> <a href="{{ project.link }}" title="{{ project.name }}" target="_blank" style="font-size: 11px; text-align: center">
                   {{ project.name }}
                 </a>
                </div>
             
            </div>
          </div>
        </div>
      </div>
	    {% endfor %}
    </div>

    
  </section>

  <section>
  	<h1> Artworks overview </h1>
  	This is the art I make in my free time. You can see more <a href="{{site.baseurl}}/art">here</a>.<br>

  	{% for painting in site.drawings %}
  	<a href="{{ site.baseurl }}/drawings/{{painting.img}}" data-lightbox="image-1"><img src="{{ site.baseurl }}/drawings/{{painting.img}}" width="30%"></img></a>
  	{% endfor %}
  </section>

  <section>
  	<h1>Education</h1>
  	{% include education.html %}
  </section>

  <section>
  	<h1>Awards // Talks</h1>
  	{% include awards.html %}
  </section>

  <section>
  	<h2></h2>

  	<p>

  	</p>
  </section>

  <!--<section>
    <h2>Subscribe</h2>

    <p>
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
  </section>-->

</div>
<script src = "{{site.baseurl}}/javascripts/js/lightbox-plus-jquery.js"></script>
