---
layout: default
---

<div>

  <section>
    <h1>personal website</h1>
    Hello! I'm half computer science student, half artist. 
  </section>

  <section>
  	<h1> Projects overview </h1>
  </section>

  <section>
  	<h1> Artworks overview </h1>
  	{% for painting in site.drawings %}
  	<a href="{{ site.baseurl }}/drawings/{{painting.img}}" data-lightbox="image-1"><img src="{{ site.baseurl }}/drawings/{{painting.img}}" width="30%"></img></a>
  	{% endfor %}
  </section>

  <section>
  	<h1>Education</h1>
  	{% include education.html %}
  </section>

  <section>
  	<h1>Awards // Talks</h1>
  	{% include awards.html %}
  </section>

  <section>
  	<h2></h2>

  	<p>

  	</p>
  </section>

  <!--<section>
    <h2>Subscribe</h2>

    <p>
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
  </section>-->

</div>
<script src = "{{site.baseurl}}/javascripts/js/lightbox-plus-jquery.js"></script>
