---
layout: default
permalink: projects
---

<section>
  <h1>Projects</h1>
  
  <p class="filters">
    <b># Filters:</b> <br>
    <b>types:</b>
    <a href="">game</a>
    <a href="">talk</a>
    <a href="">other</a> 
    <br>
    <b>tags:</b>
    <a href="">ludum_dare</a>
    <a href="">android</a>
    <a href="">java</a> 
  </p>

  
</section>

<section>
  <div class="grid t-hackcss-cards">
    {% assign items = site.projects | sort: 'date' %}
      {% for project in items reversed %}

      <div class="cell -6of12 t-hackcss-cards-cell">
        <div class="card" style="margin-bottom: 10px;">
          <header class="card-header"><b>{{ project.name }} </b><span style="font-size:10px; color: grey">({{ project.date | date: '%B %Y'}})</span></header>
          <div class="card-content">
            <div class="inner">

              {% if project.image %}
              <center style="display: inline-block; white-space: nowrap">
                  <div id="picture1">
                  <a href="{{ project.image }}" data-lightbox="image-1">
                  <img src="{{ project.image }}" 
                  style="width:60%; position:relative"
                  alt="{{ project.name }}"
                  title="{{ project.name }}"
                  /></a>
                  </div>
                  <div id="otherpictures" style=" max-height: 10px">
                  {% if project.image1 %}
                    <a href="{{ project.image1 }}" data-lightbox="image-1">
                    <img src="{{ project.image1 }}" 
                    style="width:30%; position:relative"
                    alt="{{ project.name }}"
                    title="{{ project.name }}"
                    /></a>
                  {% endif %}
                  {% if project.image2 %}
                    <a href="{{ project.image2 }}" data-lightbox="image-1">
                    <img src="{{ project.image2 }}" 
                    style="width:30%;"
                    alt="{{ project.name }}"
                    title="{{ project.name }}"
                    /></a>
                  {% endif %}
                  </div>
              </center>
              {% endif %}

              <br>
              <center>
              {% assign tags = project.tags | split: ', ' %}
              {% for tag in tags limit:3 %}
              <span style="font-size:10px; color: #999999; line-height: 120%">#{{tag}}</span>
              {% endfor %}
              <span style="font-size:10px; color: #999999; line-height: 120%">#...</span>
              </center>

              <div class="t-hackcss-cards-text" style="font-size: 11px; line-height: 110%;">{{ project.description }}</div><br>

              {% if project.team %}
              <div style="font-size:10px; color: #555555; line-height: 120%"> team: {{ project.team }} </div>
              {% endif %}

              {% if project.link %}
              <div class="t-hackcss-cards-link"> <a href="{{ project.link }}" title="{{ project.name }}" target="_blank" style="font-size: 11px; text-align: center"> {{ project.name }}</a></div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

<script src = "{{site.baseurl}}/javascripts/js/lightbox-plus-jquery.js"></script>
