<b># Speaker at <a href='http://2017.datadriveninnovation.org/'>Data Driven Innovation 2017</a></b>, talk: "<a href="https://docs.google.com/presentation/d/18nWwIDtLlwbqvraSW6bDlvPD6VHTopjmG-M5U36RrRc/edit?usp=sharing">Clustering Reddit: Learning from the Front Page of the Internet</a>", a demonstration of some text mining techniques applied on Reddit.
<div style="font-size: 10px">article: <a href="https://innovazione.diariodelweb.it/innovazione/articolo/?nid=20170203_403236">diariodelweb</a></div>
<div style="font-size: 10px">February 2017</div>
<br>

<b># Speaker at <a href='http://rome2016.codemotionworld.com/'>Codemotion Rome 2016</a></b>, talk: "You Turing Complete Me", a lesson about Turing completeness in videogames.
<div style="font-size: 10px">article: <a href="http://tweaknology.org/2016/03/26/you-turing-complete/">tweaknology</a></div>
<div style="font-size: 10px">March 2016</div>
<br>

<b># Exhibitor at Contatto</b>, project: Reactable
<div style="font-size: 10px">June 2015</div>
<br>

<b># Exhibitor at <a href='http://rome2015.codemotionworld.com/'>Codemotion Rome 2015</a></b>, presented project: "Pico", a flying simulator for cardboard
<div style="font-size: 10px">March 2015</div>
<br>

<b># 1st prize for graphics and 2nd prize for gameplay at the Global Game Jam Rome 2015</b>
<div style="font-size: 10px">January 2015</div>
<br>

<b># 1st prize at Cleanweb hackathon 2014</b>, project: "Electric Tree", a data visualization program.
<div style="font-size: 10px">article: <a href="http://job24.ilsole24ore.com/news/Articoli/2014/01/Giovani-hackaton-storia-3012014.php?refresh_ce=1">ilsole24ore</a></div>
<div style="font-size: 10px">January 2014</div>
<br>

<b># 1st prize for fun, 3rd prize for coolness at Ludum Dare 28</b>, game: 'Clicken'. A java incremental game.
<div style="font-size: 10px"><a href='https://www.youtube.com/watch?v=OjeizyJwREg'>gameplay on youtube</a></div>
<div style="font-size: 10px">December 2013</div>
<br>

<b># 3rd prize at La Scienza Narrata</b>, a creative writing contest held by Merck-Serono. 
<div style="font-size: 10px">article: <a href="http://rassegnastampa.unipi.it/rassegna/archivio/2010/07/14SIL3114.PDF">la stampa</a></div>
<div style="font-size: 10px">July 2010</div>
<br>
