<b># <a href="https://arxiv.org/abs/1908.07316">Evaluating Alignment Approaches in Superimposed Time-Series and Temporal Event-Sequence Visualizations</a></b><br>
Yixuan Zhang, Sara Di Bartolomeo, Fangfang Sheng, Holly Jimison, Cody Dunne
<div style="font-size: 10px">Short paper at VIS 2019</div><br>

<b># <a href="./posters/poster_CRA-W.pdf">Shapeshifting Timelines: An evaluation study on recurrent versus non-recurrent data</a></b><br>
Sara Di Bartolomeo et al.
<div style="font-size: 10px">Poster at CRA-W 2019</div><br>

<b># <a href="https://www.dis.uniroma1.it/~savo/papers/ISWC-2018.pdf">The SPARQLING system for SPARQL queries over GRAPHOL ontologies</a></b><br>
Sara Di Bartolomeo, Gianluca Pepe, Valerio Santarelli, Domenico Fabio Savo
<div style="font-size: 10px">Short paper at ISWC 2018</div><br>

<b># <a href="https://www.dis.uniroma1.it/~savo/papers/VOILA-2018.pdf">SPARQLING: painlessly drawing SPARQL queries over GRAPHOL ontologies</a></b><br>
Sara Di Bartolomeo, Gianluca Pepe, Valerio Santarelli, Domenico Fabio Savo
<div style="font-size: 10px">Demo paper at VOILA 2018</div><br>