<b># <a href="https://arxiv.org/abs/2005.06013">Two Dimensions for Organizing Immersive Analytics: Toward a Taxonomy for Facet and Position</a></b><br>
David Saffo, Sara Di Bartolomeo, Caglar Yildrim, Cody Dunne
<div style="font-size: 10px">Immersive Analytics Workshop at the 2020 CHI Conference on Human Factors in Computing Systems</div><br>

<b># <a href="https://dl.acm.org/doi/pdf/10.1145/3334480.3382829">Crowdsourcing Virtual Reality Experiments using VRChat</a></b><br>
David Saffo, Sara Di Bartolomeo, Caglar Yildrim, Cody Dunne
<div style="font-size: 10px">Extended Abstracts of the 2020 CHI Conference on Human Factors in Computing Systems</div><br>

<b># <a href="https://dl.acm.org/doi/pdf/10.1145/3313831.3376237">Evaluating the Effect of Timeline Shape on Visualization Task Performance</a></b><br>
Sara Di Bartolomeo, Aditeya Pandey, Aristotelis Leventidis, David Saffo, Uzma Haque Syeda, Elin Carstensdottir, Magy Seif El-Nasr, Michelle A Borkin, Cody Dunne
<div style="font-size: 10px">Proceedings of the 2020 CHI Conference on Human Factors in Computing Systems</div><br>

<b># <a href="https://arxiv.org/abs/1908.07316">Evaluating Alignment Approaches in Superimposed Time-Series and Temporal Event-Sequence Visualizations</a></b><br>
Yixuan Zhang, Sara Di Bartolomeo, Fangfang Sheng, Holly Jimison, Cody Dunne
<div style="font-size: 10px">2019 IEEE Visualization Conference (VIS) Short Papers</div><br>

<b># <a href="./posters/poster_CRA-W.pdf">Shapeshifting Timelines: An evaluation study on recurrent versus non-recurrent data</a></b><br>
Sara Di Bartolomeo et al.
<div style="font-size: 10px">Poster at CRA-W 2019</div><br>

<b># <a href="https://www.dis.uniroma1.it/~savo/papers/ISWC-2018.pdf">The SPARQLING system for SPARQL queries over GRAPHOL ontologies</a></b><br>
Sara Di Bartolomeo, Gianluca Pepe, Valerio Santarelli, Domenico Fabio Savo
<div style="font-size: 10px">Short paper at ISWC 2018</div><br>

<b># <a href="https://www.dis.uniroma1.it/~savo/papers/VOILA-2018.pdf">SPARQLING: painlessly drawing SPARQL queries over GRAPHOL ontologies</a></b><br>
Sara Di Bartolomeo, Gianluca Pepe, Valerio Santarelli, Domenico Fabio Savo
<div style="font-size: 10px">Demo paper at VOILA 2018</div><br>