<b>## Programming Languages:</b><br>
<b>- Python</b><br> 
<b>- Javascript</b> <br>
<b>- Java</b> <br>
<b>- Processing</b> <br>
<b>- Android</b> <br>
<b>- HTML5 / CSS3 </b><br>
<b>- C++</b><br>
<b>- SQL</b><br>

<br>

<b>## Software</b><br>
<b>- 2D graphics:</b> Adobe Photoshop, Adobe Illustrator, Inkscape, GIMP, MS Paint <br>
<b>- 3D graphics:</b> Blender, Sculptris <br>
<b>- Latex</b><br>
<b>- Office Suite</b><br>
<b>- Google Apps</b><br>

<br>

<b>## Operative systems</b><br> Windows, Unix [Arch Linux, Linux Mint]

<br><br>

<b>## Skills as illustrator</b><br>
<b>- Digital media:</b> digital painting, pixel art, 3D, low poly, vectors, web design, concept art, character design<br>
<b>- Traditional media:</b> watercolors, oil painting, acrylic painting<br>

<br>

<b>## Other interests</b><br>
Game development, Generative art, Data visualization, Reddit, Parrots