<b># <a href='http://codemotionkids.com/'> Codemotion Kids</a>,</b> role: Teacher 
<span style="font-size: 10px"><br>March 2015 - current</span> <br><br>
<div style="margin-left: 40px; font-size:11px; line-height: 100%">
	Within Codemotion Kids I did: <br><br>

	<b># Workshop at Maker Faire 2016</b>, title: "Build your robot".
	<div style="font-size: 10px">October 2016</div><br>

	<b># Mentor at TimGirlsHackathon Cagliari 2016</b>
	<div style="font-size: 10px">April 2016</div><br>

	<b># Course: Minecraft Modding</b>, a course to learn the basics of logic and programming in java through Minecraft.
	<div style="font-size: 10px">
		Course lecture notes: <a href='https://docs.google.com/document/d/1xuTL8Quv8bNtac8zXbwmTB9jRo_Mb3DwcMULwFGvZhc/edit?usp=sharing'>here</a><br>
		February - May 2016<br>
		October - December 2015
	</div><br>

	<b># Various other courses</b>, from teaching Scratch to basic electronics.
	<div style="font-size: 10px">March 2015 - May 2016</div><br>

	<b># Mentor at TimGirlsHackathon Milan 2015</b>
	<div style="font-size: 10px">November 2015</div><br>

	<b># Workshop at Maker Faire 2015</b>
	<div style="font-size: 10px">October 2015</div><br>

	<b># Mentor at Better Food for Better Energy Hackathon</b>
	<div style="font-size: 10px">October 2015</div><br>

	<b># Codemotion Kids Summer Camp 2015</b>
	<div style="font-size: 10px">June 2015</div><br>

</div>
<b># Workshop at <a href='https://liveperformersmeeting.net/editions/2015-rome/'> LPM Live Performers Meeting 2015</a>:</b>  <a href='https://flxer.net/BrunoLaurencich/performances/video-mapping-for-kids/'>Video Mapping for kids</a>. 
<div style="font-size: 10px">May 2015</div><br>

<b># Freelance Front-End Developer</b>, various projects.