<b># PhD candidate (Graduate Fellowship) at <a href="https://visualization.ccis.northeastern.edu/">Northeastern University, Khoury College of Computer Sciences, Data Visualization Lab</a></b><br>
Focus on temporal event sequence visualization and graph layout algorithms.
<div style="font-size: 10px">Boston, September 2018 - now</div><br>

<b># Research Assistant at <a href="https://www.dis.uniroma1.it/en">Department of Computer, Control and Management Engineering, La Sapienza University of Rome, Knowledge Representation and Semantic Technologies Lab</a></b><br>
I worked on SPARQLING, a tool to allow a graphical representation of a SPARQL query over an ontology, and to allow building queries by interacting with a graphical representation of the ontology.
<div style="font-size: 10px">Rome, January 2018 - August 2018</div><br>

<b># Mentor at <a href='https://summerofcode.withgoogle.com/archive/'> Google Summer of Code </a> for <a href="https://processing.org/">The Processing Foundation.</a></b><br>
I have been a mentor for William, who worked on his awesome project, <a href="https://github.com/Calsign/APDE">APDE</a>, a Processing IDE that runs on Android.
<div style="font-size: 10px">May 2018 - August 2018</div><br>

<b># Developer at <a href='https://summerofcode.withgoogle.com/archive/'> Google Summer of Code </a> for <a href="https://processing.org/">The Processing Foundation.</a></b><br>
I developed a VR application to showcase the capabilities of Processing on Android. 
<div style="font-size: 10px">June - September 2017</div><br>

<b># <a href='http://codemotionkids.com/'> Codemotion Kids</a>,</b> role: Teacher 
<span style="font-size: 10px"><br>March 2015 - September 2017</span> <br>

<div style="font-size:12px;">
	I taught the basics of coding to children aged 7 to 17, by using games and creativity in an educational way. <br>The courses I taught used Scratch, Blender, Arduino, Minecraft, Processing, Python, Lego Mindstorms. <br>I designed several of the courses, trained other teachers and produced games and applications for kids for various events by Codemotion.
</div>
<br>
<div style="margin-left: 40px; font-size:11px; line-height: 100%">
	Relevant work during codemotion: <br><br>

	<b># Mercedes Benz Ludotech</b>
	<div style="font-size: 10px">September 2017</div><br>

	<b># Adalab</b>, an event to encourage girls to learn coding.
	<div style="font-size: 10px">May 2017</div><br>

	<b># Workshop at Maker Faire 2016</b>, title: "Build your robot".
	<div style="font-size: 10px">October 2016</div><br>

	<b># Mentor at TimGirlsHackathon Cagliari 2016</b>
	<div style="font-size: 10px">April 2016</div><br>

	<b># Course: Minecraft Modding</b>, a course to learn the basics of logic and programming in java through Minecraft.
	<div style="font-size: 10px">
		Course lecture notes: <a href='https://docs.google.com/document/d/1xuTL8Quv8bNtac8zXbwmTB9jRo_Mb3DwcMULwFGvZhc/edit?usp=sharing'>here</a><br>
		February - May 2016<br>
		October - December 2015
	</div><br>

	<b># Various other courses</b>, from teaching Scratch to basic electronics.
	<div style="font-size: 10px">March 2015 - May 2016</div><br>

	<b># Mentor at TimGirlsHackathon Milan 2015</b>
	<div style="font-size: 10px">November 2015</div><br>

	<b># Workshop at Maker Faire 2015</b>
	<div style="font-size: 10px">October 2015</div><br>

	<b># Mentor at Better Food for Better Energy Hackathon</b>
	<div style="font-size: 10px">October 2015</div><br>

	<b># Codemotion Kids Summer Camp 2015</b>
	<div style="font-size: 10px">June 2015</div><br>

</div>
<br>
<b># Mentor/Organizer in a workshop at <a href='http://www.romics.it/'> Romics 2017 </a>:</b>  <a href='http://www.romics.it/it/contenuto/tech-my-cosplay'>Tech My Cosplay</a>, a workshop about using Arduino for building costume parts used for cosplay. Article: <a href="http://startupitalia.eu/71170-20170406-father-io-cosplay-startup-romics">Startupitalia</a>
<div style="font-size: 10px">April 2017</div><br>

<b># Workshop at <a href='https://liveperformersmeeting.net/editions/2015-rome/'> LPM Live Performers Meeting 2015</a>:</b>  <a href='https://flxer.net/BrunoLaurencich/performances/video-mapping-for-kids/'>Video Mapping for kids</a>. 
<div style="font-size: 10px">May 2015</div><br>

<b># Freelance Front-End Developer</b>, various projects.

